/* General Styling */
body {
  font-family: "Pacifico", cursive;
  padding: 0;
  margin: 0;
  background: white; /* Légère nuance de gris clair */
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Links */
a {
  text-decoration: none;
  color: #6c5ce7; /* Violet doux */
}

/* Container */
.container {
  min-height: 400px;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  background: #9bc7fa; /* Fond blanc propre */
  box-shadow: 0 0 50px  cyan;
  position: relative;
}

/* Logo */
.logo h1 {
  color: #5f0202; /* Couleur pêche dynamique */
  text-decoration: none;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Input Container */
.input_container {
  display: flex;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
  border-color: #6c5ce7; /* Violet pour le focus */
  box-shadow: 0 0 4px rgba(108, 92, 231, 0.4);
}

input {
  flex-grow: 1;
  border: 1px solid #ddd;
  background: #f9f9f9; /* Gris clair pour l'entrée */
  font-size: 16px;
  border-radius: 6px 0 0 6px;
  padding: 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

button {
  border-radius: 0 6px 6px 0;
  background: cyan; /* Pêche pour l'arrière-plan */
  color: #5f0202;
  font-size: 18px;
  font-family: "Pacifico", cursive;
  padding: 12px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #2ecc71; /* Pêche plus foncé */
  box-shadow: 10px 0 50px  cyan;

}

/* List of Names */
.list_of_names {
  padding: 20px 0;
  cursor: pointer;
}

.list_of_names div {
  margin-right: 10px;
  margin-bottom: 10px;
  background: #6c5ce7; /* Violet pour les éléments */
  color: #ffffff;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  transition: background 0.3s ease;
}

.list_of_names div:hover {
  background: #5e54c1; /* Violet plus foncé */
}

/* Error Label */
.error_label {
  color: #e74c3c; /* Rouge pour les erreurs */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Action Button */
.action_button {
  cursor: pointer;
  border: 1px solid #6c5ce7; /* Violet pour le bouton */
  color: #6c5ce7;
  font-size: 16px;
  width: 200px;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  transition: background 0.3s ease, color 0.3s ease;
}

.action_button.btn2 {
  border: 1px solid #2ecc71; /* Vert doux pour btn2 */
  color: #2ecc71;
  font-weight: 600;
  background: white;
}

.action_button.btn2:hover {
  background: #2ecc71;
  color: #ffffff;
}
.action_button:hover {
  background: #6c5ce7;
  color: #ffffff;
}
/* Result Container */
.result_container h1 {
  font-family: "Pacifico", cursive;
  color: #5f0202; /* Pêche pour les résultats */
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}
